<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2024-2024 the original author or authors.
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
       https://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhouyu.tenant.infrastructure.repository.mapper.TenantMapper">
    <resultMap id="BaseResultMap" type="com.fuhouyu.tenant.infrastructure.repository.orm.TenantDO" extends="com.fuhouyu.tenant.infrastructure.repository.mapper.BaseMapper.BaseResultMap">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="tenant_code" property="tenantCode" jdbcType="VARCHAR"/>
        <result column="tenant_name" property="tenantName" jdbcType="VARCHAR"/>
        <result column="tenant_type" property="tenantType" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="contact_person" property="contactPerson" jdbcType="VARCHAR"/>
        <result column="contact_number" property="contactNumber" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="TableName">
        tenants
    </sql>

    <sql id="AllColumns">
        id,
        tenant_code,
        tenant_name,
        tenant_type,
        remark,
        icon,
        contact_person,
        contact_number,
        is_deleted,
        create_at,
        update_at,
        create_by,
        update_by
    </sql>

    <insert id="insert" parameterType="com.fuhouyu.tenant.infrastructure.repository.orm.TenantDO">
        INSERT INTO
        <include refid="TableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="AllColumns"/>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{id},
            #{tenantCode},
            #{tenantName},
            #{tenantType},
            #{remark},
            #{icon},
            #{contactPerson},
            #{contactNumber},
            #{isDeleted},
            #{crateAt},
            #{updateAt},
            #{crateBy},
            #{updateBy}
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" >
        INSERT INTO
        <include refid="TableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="AllColumns"/>
        </trim>
        VALUES
        <foreach collection="list" separator="," item="entity">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{entity.id},
                #{entity.tenantCode},
                #{entity.tenatName},
                #{entity.tenantType},
                #{entity.remark},
                #{entity.icon},
                #{entity.contactPerson},
                #{entity.contactNumber},
                #{entity.crateAt},
                #{entity.updateAt},
                #{entity.createBy},
                #{entity.updateBy},
            </trim>
        </foreach>
    </insert>

    <update id="update" parameterType="com.fuhouyu.tenant.infrastructure.repository.orm.TenantDO">
        UPDATE
        <include refid="TableName"/>
        SET
        <if test="tenantName != null and tenantName != ''">
            tenant_name = #{tenantName},
        </if>
        <if test="contactPerson != null and contactPerson != ''">
            contact_person = #{contactPerson},
        </if>
        <if test="contactNumber != null and contactNumber != ''">
            contact_number = #{contactNumber},
        </if>
        remark = #{remark},
        update_at = #{updateAt},
        update_by = #{updateBy}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM <include refid="TableName"/>
        WHERE id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM <include refid="TableName"/>
        WHERE id IN
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <select id="queryById" resultMap="BaseResultMap">
        SELECT <include refid="AllColumns"/>
        FROM <include refid="TableName"/>
        WHERE id = #{id}
    </select>


    <select id="queryByIds" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT <include refid="AllColumns"/>
        FROM <include refid="TableName"/>
        WHERE id IN
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>


    <select id="queryByTenantCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT <include refid="AllColumns"/>
        FROM <include refid="TableName"/>
        WHERE tenant_code = #{tenantCode}
    </select>

    <select id="queryList" resultMap="BaseResultMap" >
        SELECT
        <include refid="AllColumns"/>
                FROM
        <include refid="TableName"/>
    </select>
</mapper>