<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhouyu.sass.platform.system.mapper.OperationLogMapper">
    <resultMap id="BaseResultMap"  type="com.fuhouyu.sass.platform.system.domain.entity.OperationLog">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="module_name" jdbcType="VARCHAR" property="moduleName"/>
        <result column="request_ip" jdbcType="VARCHAR" property="requestIp"/>
        <result column="request_location" jdbcType="VARCHAR" property="requestLocation"/>
        <result column="request_uri" jdbcType="VARCHAR" property="requestUri"/>
        <result column="request_method" jdbcType="VARCHAR" property="requestMethod"/>
        <result column="request_param" jdbcType="VARCHAR" property="requestParam"/>
        <result column="response_data" jdbcType="VARCHAR" property="responseData"/>
        <result column="operation_type" jdbcType="VARCHAR" property="operationType"/>
        <result column="os" jdbcType="VARCHAR" property="os"/>
        <result column="browser" jdbcType="VARCHAR" property="browser"/>
        <result column="browser_version" jdbcType="VARCHAR" property="browserVersion"/>
        <result column="is_mobile" jdbcType="BOOLEAN" property="isMobile"/>
        <result column="engine" jdbcType="VARCHAR" property="engine"/>
        <result column="platform" jdbcType="VARCHAR" property="platform"/>
        <result column="cost_time" jdbcType="BIGINT" property="costTime"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="error_message" jdbcType="VARCHAR" property="errorMessage"/>
        <result column="content_en" jdbcType="VARCHAR" property="contentEn"/>
        <result column="is_success" jdbcType="BOOLEAN" property="isSuccess"/>
        <result column="risk_type" jdbcType="VARCHAR" property="riskType"/>
        <result column="system_name" jdbcType="VARCHAR" property="systemName"/>
        <result column="operation_user" jdbcType="VARCHAR" property="operationUser"/>
        <result column="operation_time" jdbcType="TIMESTAMP" property="operationTime"/>
    </resultMap>

    <sql id="TableName">
        operation_log
    </sql>

    <sql id="Base_Column_List">

        id,
        module_name,
        request_uri,
        request_method,
        request_param,
        request_ip,
        request_location,
        response_data,
        operation_type,
        content,
        content_en,
        os,
        browser,
        browser_version,
        is_mobile,
        engine,
        platform,
        cost_time,
        is_success,
        error_message,
        risk_type,
        system_name,
        operation_user,
        operation_time,
        owner_tenant_id
    </sql>

    <insert id="insert" parameterType="com.fuhouyu.sass.platform.system.domain.entity.OperationLog">
        insert into
        <include refid="TableName"/>
        (id,
         module_name,
         request_uri,
         request_method,
         request_param,
         request_ip,
         request_location,
         response_data,
         operation_type,
         os,
         browser,
         browser_version,
         is_mobile,
         engine,
         platform,
        cost_time,
         content,
         content_en,
         is_success,
         risk_type,
         system_name,
         owner_tenant_id,
         operation_user,
         operation_time,
         error_message)
        values (#{id,jdbcType=BIGINT},
                #{moduleName,jdbcType=VARCHAR},
                #{requestUri,jdbcType=VARCHAR},
                #{requestMethod,jdbcType=VARCHAR},
                #{requestParam,jdbcType=VARCHAR},
                #{requestIp},
                #{requestLocation},
                #{responseData,jdbcType=VARCHAR},
                #{operationType,jdbcType=VARCHAR},
                #{os,jdbcType=BOOLEAN},
                #{browser,jdbcType=VARCHAR},
                #{browserVersion,jdbcType=VARCHAR},
                #{isMobile,jdbcType=VARCHAR},
                #{engine,jdbcType=VARCHAR},
                #{platform,jdbcType=VARCHAR},
                #{costTime,jdbcType=BIGINT},
                #{content,jdbcType=VARCHAR},
                #{contentEn,jdbcType=VARCHAR},
                #{isSuccess,jdbcType=BOOLEAN},
                #{riskType,jdbcType=VARCHAR},
                #{systemName,jdbcType=VARCHAR},
                #{ownerTenantId},
                #{operationUser,jdbcType=VARCHAR},
                #{operationTime,jdbcType=TIMESTAMP},
                #{errorMessage})
    </insert>

    <select id="queryList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="TableName"/>
        <where>
            <if test="pageQuery.isSuccess != null ">
                is_success = #{pageQuery.isSuccess}
            </if>
            <if test="pageQuery.moduleName != null and pageQuery.moduleName != ''">
                AND module_name = #{pageQuery.moduleName}
            </if>
            <if test="pageQuery.systemName != null and pageQuery.systemName != ''">
                AND system_name = #{pageQuery.systemName}
            </if>
            <if test="pageQuery.riskType != null and pageQuery.riskType != ''">
                AND risk_type = #{pageQuery.riskType}
            </if>
            <if test="pageQuery.operationType != null and pageQuery.operationType != ''">
                AND operation_type = #{pageQuery.operationType}
            </if>
            <if test="pageQuery.startTime != null">
                <bind name="startTime" value="pageQuery.startTime.atStartOfDay()" />
                AND operation_time &gt;= #{startTime}
            </if>
            <if test="pageQuery.endTime != null">
                <bind name="endDateTime" value="pageQuery.endTime.atTime(@java.time.LocalTime@MAX)" />
                AND operation_time &lt;= #{endDateTime}
            </if>
        </where>
    </select>

    <select id="getModuleList" resultType="java.lang.String">
        SELECT
        DISTINCT
        module_name
        FROM
        <include refid="TableName"/>
    </select>

    <select id="queryById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM <include refid="TableName"/>
        WHERE id = #{id}
    </select>
</mapper>