<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2024-2025 fuhouyu.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhouyu.sass.platform.system.mapper.ParamConfigMapper">
    <resultMap id="BaseResultMap" type="com.fuhouyu.sass.platform.system.domain.entity.ParamConfigs" extends="com.fuhouyu.sass.platform.system.mapper.BaseEntityMapper.BaseResultMap">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="config_name" property="configName"/>
        <result column="config_key" property="configKey"/>
        <result column="config_value" property="configValue"/>
        <result column="group_key" property="groupKey"/>
        <result column="remark" property="remark"/>
        <result column="is_allow_modified" property="isAllowModified"/>
    </resultMap>


    <sql id="TableName">
        param_configs
    </sql>

    <sql id="InsertColumns">
        id,
       config_name,
        config_key,
        config_value,
        group_key,
        remark,
        is_allow_modified,
        created_at,
        created_by,
        updated_at,
        updated_by
    </sql>

    <sql id="QueryAllColumns">
        pc.id,
        pc.config_name,
        pc.config_key,
        pc.config_value,
        pc.group_key,
        pc.remark,
        pc.is_allow_modified,
        pc.created_at,
        pc.created_by,
        pc.updated_at,
        pc.updated_by
    </sql>

    <insert id="insert" parameterType="com.fuhouyu.sass.platform.system.domain.entity.ParamConfigs">
        INSERT INTO
        <include refid="TableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="InsertColumns"/>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{id},
            #{configName},
            #{configKey},
            #{configValue},
            #{groupKey},
            #{remark},
            #{isAllowModified},
            #{createdAt},
            #{createdBy},
            #{updatedAt},
            #{updatedBy}
        </trim>
    </insert>

    <update id="update" parameterType="com.fuhouyu.sass.platform.system.domain.entity.ParamConfigs">
        UPDATE
        <include refid="TableName"/>
        SET
        <if test="configName != null and configName != ''">
            config_name = #{configName},
        </if>
        <if test="configValue != null and configValue != ''">
            config_value = #{configValue},
        </if>
        <if test="groupKey != null and groupKey != ''">
            group_key = #{groupKey},
        </if>
        <if test="remark != null and remark != ''">
            remark = #{remark},
        </if>
        updated_at = #{updatedAt},
        updated_by = #{updatedBy}
        WHERE id = #{id}
    </update>


    <select id="queryByConfigKey" resultMap="BaseResultMap">
        SELECT
        <include refid="QueryAllColumns"/>
        FROM
        <include refid="TableName"/> pc
        WHERE pc.config_key = #{configKey}
    </select>

    <select id="queryByGroupKey" resultMap="BaseResultMap">
        SELECT
        <include refid="QueryAllColumns"/>
        FROM
        <include refid="TableName"/> pc
        WHERE pc.group_key = #{groupKey}
    </select>
</mapper>