<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2024-2025 fuhouyu.
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
       https://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhouyu.sass.platform.system.mapper.ResourceMapper">
    <resultMap id="BaseResultMap" type="com.fuhouyu.sass.platform.system.domain.entity.Resources" extends="com.fuhouyu.sass.platform.system.mapper.BaseMapper.BaseResultMap">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="size" property="size"/>
        <result column="mime_type" property="mimeType"/>
        <result column="etag" property="etag"/>
        <result column="object_key" property="objectKey"/>
        <result column="version" property="version"/>
        <result column="category" property="category"/>
        <result column="is_public" property="isPublic"/>
        <result column="is_directory" property="isDirectory"/>
        <result column="owner_tenant_id" property="ownerTenantId"/>
    </resultMap>

    <sql id="TableName">
        resources
    </sql>

    <sql id="InsertColumns">
        id,
        parent_id,
        name,
        size,
        mime_type,
        object_key,
        etag,
        version,
        category,
        is_deleted,
        is_public,
        is_directory,
        owner_tenant_id,
        created_at,
        updated_at,
        created_by,
        updated_by
    </sql>


    <sql id="QueryColumns">
        r.id,
        r.parent_id,
        r.name,
        r.size,
        r.category,
        r.mime_type,
        r.object_key,
        r.etag,
        r.version,
        r.is_deleted,
        r.is_public,
        r.is_directory,
        r.owner_tenant_id,
        r.created_at,
        r.updated_at,
        r.created_by,
        r.updated_by
    </sql>

    <insert id="insert" parameterType="com.fuhouyu.sass.platform.system.domain.entity.Resources">
        INSERT INTO
        <include refid="TableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="InsertColumns"/>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{id},
            #{parentId},
            #{name},
            #{size},
            #{mimeType},
            #{objectKey},
            #{etag},
            #{version},
            #{category},
            #{isDeleted},
            #{isPublic},
            #{isDirectory},
            #{ownerTenantId},
            #{createdAt},
            #{updatedAt},
            #{createdBy},
            #{updatedBy}
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" >
        INSERT INTO
        <include refid="TableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="InsertColumns"/>
        </trim>
        VALUES
        <foreach collection="list" separator="," item="entity">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{entity.id},
                #{entity.parentId},
                #{entity.name},
                #{entity.size},
                #{entity.mimeType},
                #{entity.objectKey},
                #{entity.etag},
                #{entity.version},
                #{entity.category},
                #{entity.isDeleted},
                #{entity.isPublic},
                #{entity.isDirectory},
                #{entity.ownerTenantId},
                #{entity.createdAt},
                #{entity.updatedAt},
                #{entity.createdBy},
                #{entity.updatedBy}
            </trim>
        </foreach>
    </insert>

    <update id="update" parameterType="com.fuhouyu.sass.platform.system.domain.entity.Resources">
        UPDATE
        <include refid="TableName"/>
        SET
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="mimeType != null and mimeType != ''">
            mime_type = #{mimeType},
        </if>
        <if test="objectKey != null and objectKey != ''">
            object_key = #{objectKey},
        </if>
        <if test="version != null">
            version = #{version},
        </if>
        <if test="isPublic != null">
            is_public = #{isPublic},
        </if>
        updated_at = #{updatedAt},
        updated_by = #{updatedBy}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM <include refid="TableName"/>
        WHERE id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM
        <include refid="TableName"/>
        WHERE id IN
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryById" resultMap="BaseResultMap">
        SELECT <include refid="QueryColumns"/>
        FROM <include refid="TableName"/> r
        WHERE id = #{id}
    </select>


    <select id="queryByIds" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT <include refid="InsertColumns"/>
        FROM <include refid="TableName"/> r
        WHERE id IN
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <select id="queryList" resultMap="BaseResultMap" >
        SELECT
        <include refid="QueryColumns"/>
                FROM
        <include refid="TableName"/> r
        <where>
            <if test="pageQuery.prefix != null and pageQuery.prefix != ''">
                r.parent_id = (SELECT id FROM <include refid="TableName"/> WHERE CONCAT(object_key, '/') = #{pageQuery.prefix})
            </if>
            <if test="pageQuery.prefix == null or pageQuery.prefix == ''">
              AND r.parent_id = -1
            </if>
            <if test="pageQuery.name != null and pageQuery.name != ''">
               AND r.name LIKE CONCAT('%',#{pageQuery.name}, '%')
            </if>
        </where>
    </select>

    <select id="queryByEtag" resultMap="BaseResultMap">
        SELECT
        <include refid="QueryColumns"/>
        FROM
        <include refid="TableName"/> r
        WHERE r.etag = #{etag}
    </select>

    <select id="queryByObjectKey" resultMap="BaseResultMap">
        SELECT
        <include refid="QueryColumns"/>
        FROM
        <include refid="TableName"/> r
        WHERE r.object_key = #{objectKey}
    </select>

    <select id="queryByPrefixList" resultMap="BaseResultMap">
        SELECT
        DISTINCT
        <include refid="QueryColumns"/>
        FROM
        <include refid="TableName"/> r
        WHERE
        <foreach collection="prefixList" item="prefix" separator=" OR " >
            r.object_key  LIKE CONCAT(#{prefix}, '%')
        </foreach>
    </select>

    <select id="countObjects" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM
        <include refid="TableName"/> r
        WHERE r.is_directory = false
    </select>
</mapper>