<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2024-2025 fuhouyu.
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
       https://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhouyu.sass.platform.system.mapper.RoleHasPermissionMapper">
    <resultMap id="BaseResultMap" type="com.fuhouyu.sass.platform.system.entity.RoleHasPermission" extends="com.fuhouyu.sass.platform.system.mapper.BaseMapper.BaseResultMap">
        <result column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="permission_id" property="permissionId" jdbcType="VARCHAR"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="TableName">
        role_has_permission
    </sql>

    <sql id="AllColumns">
        role_id,
        permission_id,
        create_at,
        create_by
    </sql>

    <insert id="insertBatch" parameterType="com.fuhouyu.sass.platform.system.entity.Users">
        INSERT INTO
        <include refid="TableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="AllColumns"/>
        </trim>
        VALUES
        <foreach collection="roleHasPermissions" separator="," item="entity">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{entity.roleId},
            #{entity.permissionId},
            #{entity.createAt},
            #{entity.createBy},
        </trim>
        </foreach>
    </insert>

    <delete id="deleteByRoleId">
        DELETE FROM
        <include refid="TableName">
        </include>
        WHERE role_id = #{roleId}
        <if test="excludePermissionIds != null and excludePermissionIds.size() > 0">
            AND permission_id NOT IN
            <foreach collection="excludePermissionIds" open="(" close=")" item="permissionId" separator=",">
                #{permissionId}
            </foreach>
        </if>
    </delete>

    <select id="queryPermissionIdByRoleId" resultType="java.lang.Long">
        SELECT permission_id
        FROM
        <include refid="TableName"/>
        WHERE role_id = #{roleId}
    </select>
    
    <delete id="deleteRolePermissionByTenantIds">
        DELETE FROM
        <include refid="TableName"/>
        WHERE role_id IN
        (
        SELECT id FROM roles WHERE owner_tenant_id IN
        <foreach collection="tenantIds" open="(" close=")" item="tenantId" >
            #{tenantId}
        </foreach>
        )
    </delete>
</mapper>