<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2024-2025 fuhouyu.
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
       https://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhouyu.sass.platform.system.mapper.TenantSpaceMapper">
    <resultMap id="BaseResultMap" type="com.fuhouyu.sass.platform.system.entity.TenantSpace" extends="com.fuhouyu.sass.platform.system.mapper.BaseMapper.BaseResultMap">
        <result column="tenant_id" property="tenantId"/>
        <result column="bucket_name" property="bucketName"/>

    </resultMap>

    <sql id="TableName">
        tenant_space
    </sql>

    <sql id="InsertColumns">
        tenant_id,
        bucket_name,
        capacity,
        acl,
        create_at,
        update_at,
        create_by,
        update_by
    </sql>


    <sql id="QueryColumns">
        ts.tenant_id,
        ts.bucket_name,
        ts.capacity,
        ts.acl,
        ts.create_at,
        ts.update_at,
        ts.create_by,
        ts.update_by
    </sql>

    <insert id="insert" parameterType="com.fuhouyu.sass.platform.system.entity.Resources">
        INSERT INTO
        <include refid="TableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="InsertColumns"/>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{tenantId},
            #{bucketName},
            #{capacity},
            #{acl},
            #{createAt},
            #{updateAt},
            #{createBy},
            #{updateBy}
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" >
        INSERT INTO
        <include refid="TableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="InsertColumns"/>
        </trim>
        VALUES
        <foreach collection="list" separator="," item="entity">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{entity.tenantId},
                #{entity.bucketName},
                #{entity.capacity},
                #{entity.acl},
                #{entity.createAt},
                #{entity.updateAt},
                #{entity.createBy},
                #{entity.updateBy}
            </trim>
        </foreach>
    </insert>

    <update id="update" parameterType="com.fuhouyu.sass.platform.system.entity.Resources">
        UPDATE
        <include refid="TableName"/>
        SET
        <if test="bucketName != null and bucketName != ''">
            bucket_name = #{bucketName},
        </if>
        <if test="capacity != null">
            capacity = #{capacity},
        </if>
        <if test="acl != null and acl != ''">
            acl = #{acl},
        </if>
        update_at = #{updateAt},
        update_by = #{updateBy}
        WHERE tenant_id = #{tenantId}
    </update>

    <delete id="deleteById">
        DELETE FROM <include refid="TableName"/>
        WHERE tenant_id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM
        <include refid="TableName"/>
        WHERE tenant_id IN
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryById" resultMap="BaseResultMap">
        SELECT <include refid="QueryColumns"/>
        FROM <include refid="TableName"/> ts
        WHERE tenant_id = #{id}
    </select>


    <select id="queryByIds" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT <include refid="InsertColumns"/>
        FROM <include refid="TableName"/> ts
        WHERE tenant_id IN
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <select id="queryList" resultMap="BaseResultMap" >
        SELECT
        <include refid="QueryColumns"/>
                FROM
        <include refid="TableName"/> ts
    </select>

</mapper>