<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2024-2025 fuhouyu.
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
       https://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhouyu.sass.platform.system.mapper.TenantInfoMapper">
    <resultMap id="BaseResultMap" type="com.fuhouyu.sass.platform.system.entity.TenantInfo" extends="com.fuhouyu.sass.platform.system.mapper.BaseMapper.BaseResultMap">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="tenant_code" property="tenantCode" jdbcType="VARCHAR"/>
        <result column="tenant_name" property="tenantName" jdbcType="VARCHAR"/>
        <result column="tenant_type" property="tenantType" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="contact_person" property="contactPerson" jdbcType="VARCHAR"/>
        <result column="contact_info" property="contactInfo" jdbcType="VARCHAR"/>
        <result column="is_enabled" property="isEnabled" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="TableName">
        tenant_info
    </sql>

    <sql id="QueryColumns">
        ti.id,
        ti.tenant_code,
        ti.tenant_name,
        ti.tenant_type,
        ti.remark,
        ti.icon,
        ti.contact_person,
        ti.contact_info,
        ti.is_enabled,
        ti.is_deleted,
        ti.create_at,
        ti.update_at,
        ti.create_by,
        ti.update_by
    </sql>

    <sql id="AllColumns">
        id,
        tenant_code,
        tenant_name,
        tenant_type,
        remark,
        icon,
        contact_person,
        contact_info,
        is_enabled,
        is_deleted,
        create_at,
        update_at,
        create_by,
        update_by
    </sql>

    <insert id="insert" parameterType="com.fuhouyu.sass.platform.system.entity.TenantInfo">
        INSERT INTO
        <include refid="TableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="AllColumns"/>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{id},
            #{tenantCode},
            #{tenantName},
            #{tenantType},
            #{remark},
            #{icon},
            #{contactPerson},
            #{contactInfo},
            #{isEnabled},
            #{isDeleted},
            #{createAt},
            #{updateAt},
            #{createBy},
            #{updateBy}
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" >
        INSERT INTO
        <include refid="TableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="AllColumns"/>
        </trim>
        VALUES
        <foreach collection="list" separator="," item="entity">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{entity.id},
                #{entity.tenantCode},
                #{entity.tenatName},
                #{entity.tenantType},
                #{entity.remark},
                #{entity.icon},
                #{entity.contactPerson},
                #{entity.contactInfo},
                #{entity.isEnabled},
                #{entity.isDeleted},
                #{entity.createAt},
                #{entity.updateAt},
                #{entity.createBy},
                #{entity.updateBy},
            </trim>
        </foreach>
    </insert>

    <update id="update" parameterType="com.fuhouyu.sass.platform.system.entity.TenantInfo">
        UPDATE
        <include refid="TableName"/>
        SET
        <if test="tenantName != null and tenantName != ''">
            tenant_name = #{tenantName},
        </if>
        <if test="contactPerson != null and contactPerson != ''">
            contact_person = #{contactPerson},
        </if>
        <if test="contactInfo != null and contactInfo != ''">
            contact_info = #{contactInfo},
        </if>
        <if test="isEnabled != null">
            is_enabled = #{isEnabled},
        </if>
        remark = #{remark},
        update_at = #{updateAt},
        update_by = #{updateBy}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM <include refid="TableName"/>
        WHERE id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM <include refid="TableName"/>
        WHERE id IN
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <select id="queryById" resultMap="BaseResultMap">
        SELECT <include refid="QueryColumns"/>
        FROM <include refid="TableName"/> ti
        WHERE ti.id = #{id}
    </select>


    <select id="queryByIds" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT <include refid="QueryColumns"/>
        FROM <include refid="TableName"/> ti
        WHERE ti.id IN
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>


    <select id="queryByTenantCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT <include refid="QueryColumns"/>
        FROM <include refid="TableName"/> ti
        WHERE ti.tenant_code = #{tenantCode}
    </select>

    <select id="queryList" resultMap="BaseResultMap" >
        SELECT
        <include refid="QueryColumns"/>
                FROM
        <include refid="TableName"/> ti
        <where>
            <if test="pageQuery.tenantName != null and pageQuery.tenantName != ''">
                ti.tenant_name LIKE CONCAT('%', #{pageQuery.tenantName}, '%')
            </if>
        </where>
    </select>

    <select id="queryByUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="QueryColumns"/>
        FROM  tenant_has_user thu
        LEFT JOIN <include refid="TableName"/> ti ON ti.id = thu.tenant_id
        WHERE thu.user_id = #{userId}

    </select>

    <select id="existsUserTenant" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM tenant_has_user thu
        LEFT JOIN
        <include refid="TableName"/>
        ti ON ti.id = thu.tenant_id
        WHERE thu.user_id = #{userId}
        AND ti.id = #{tenantId}
    </select>
</mapper>