<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2024-2025 fuhouyu.
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
       https://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhouyu.sass.platform.system.mapper.TenantHasUserMapper">
    <resultMap id="BaseResultMap" type="com.fuhouyu.sass.platform.system.entity.TenantHasUser" extends="com.fuhouyu.sass.platform.system.mapper.BaseMapper.BaseResultMap">
        <result column="tenant_id" property="tenantId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="TableName">
        tenant_has_user
    </sql>

    <sql id="AllColumns">
        tenant_id,
        user_id,
        create_at,
        create_by
    </sql>

    <insert id="insertBatch">
        INSERT INTO
        <include refid="TableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="AllColumns"/>
        </trim>
        VALUES
        <foreach collection="list" separator="," item="entity">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{entity.tenantId},
                #{entity.userId},
                #{entity.createAt},
                #{entity.createBy},
            </trim>
        </foreach>
    </insert>

    <insert id="insert">
        INSERT INTO
        <include refid="TableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="AllColumns"/>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{tenantId},
            #{userId},
            #{createAt},
            #{createBy},
        </trim>
    </insert>

    <delete id="deleteByTenantIdAndUserIds">
        DELETE FROM
            <include refid="TableName"/>
        WHERE
     tenant_id = #{tenantId}
        AND user_id IN
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>