.ant-checkbox-group {
  gap: 2rem;
}

.menu-list {
  padding-top: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  .menu-tree {
    padding: 0.2rem 0;
    border: 1px solid #E5E6E7;
  }
}

.remark {
  height: 7.5rem;

}